.contents{
  background-color: palegoldenrod;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.header{
  text-align: center;
}

body{
  background-color: palegoldenrod;
}